.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 100px 12.5%;
  background-color: black;
  background-color: #e9ecef;
}

.footer-container .card {
  border: none;
}

.footer-container .card,
.footer-container .card .list-group .list-group-item {
  background-color: #e9ecef;
  /* cursor: pointer; */
}
.footer-container .card {
  width: 25%;
}
#follow-us {
  padding: 0.75rem 1.25rem;
}
